.topLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4px;
    z-index: 9999;
    background-color: rgb(205, 205, 205);
    overflow: hidden;
}

.stretchingLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    border-radius: 25%;
    background-color: #0070f3;
    animation: stretchLine 1s ease-out infinite;
}

@keyframes stretchLine {
    0% {
        transform: translateX(0vw);
        width: 0%;
    }

    20% {
        transform: translateX(20vw);
        width: 40%;
    }

    40% {
        transform: translateX(30vw);
        width: 50%;
    }

    50% {
        transform: translateX(40vw);
        width: 45%;
    }

    60% {
        transform: translateX(60vw);
        width: 30%;
    }

    80% {
        transform: translateX(80vw);
        width: 15%;
    }

    100% {
        transform: translateX(100vw);
        width: 0%;
    }
}